<html>
    <head>
        <title>Blog Dominiki</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog Dominiki</a></h1>
        </div>

        <div>
            <p>published: 24.06.2017, 16:00</p>
            <h2><a href="">Mój pierwszy post</a></h2>
            <p>To jest mój pierwszy post. To jest mój pierwszy post. To jest mój pierwszy post. To jest mój pierwszy post.
        </div>

        <div>
          <p>published: 24.06.2017, 16:05</p>
          <h2><a href="">Mój drugi post</a></h2>
          <p>To jest mój drugi post. To jest mój drugi post. To jest mój drugi post. To jest mój drugi post.
      </div>
    </body>
</html>
